/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 4, 2017, 3:29:50 PM
    Author     : Yi Shi
*/

.root{
    
}

.dialog_pane {
    -fx-padding:15;
}

.dialog_heading {
    -fx-font-size: 24pt;
    -fx-color:red;
}

.dialog_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.bordered_pane {
    -fx-background-color: #f7aaff;
    -fx-background-radius: 5.0;
    -fx-padding: 10;
    -fx-spacing: 20;
    -fx-border-width: 1px;
    -fx-border-color: #d477dd;
}

.prompt_label {
    -fx-font-size:18pt;
    -fx-font-weight:bold;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.edit_text_field {
    -fx-max-width:500;
    -fx-max-height:1000;
    -fx-pref-height:600;
    -fx-font-size:20pt;
    -fx-padding: 0;
    -fx-spacing: 10;
}


.edit_button {
    -fx-font-size: 20pt;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;    
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    
}
.file_button{
    -fx-font-size: 20pt;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;    
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
}

.hw_table {
    -fx-font-size:16pt;
}

.edit_progress_Bar{
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
}

.edit_dark_text{
    -fx-font-size:20pt;
    -fx-font-weight: bold;
}

.edit_light_text{
    -fx-font-size:20pt;
}

.edit_check_box{
    -fx-font-size:16pt;
}

.edit_spacing{
    -fx-background-color: FDEFFF;
    -fx-padding: 20;
    -fx-spacing: 15;
}

.edit_file_type_textfield{
    -fx-font-size:13pt;
}

.welcome_page{
    -fx-padding: 40;
    -fx-spacing: 40;
}
.welcome_page1{
    -fx-background-color: FDEFFF;
    -fx-padding: 40;
    -fx-spacing: 15;
    -fx-border-width: 1px;
    -fx-border-color: #d477dd;
}

